body{
	background: #f5dd7b; 
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: #83580b;
	min-height: 30vw;
	max-width: 60vw;
	border-radius: 2rem;
}
button{
	height: 10rem;
	width: 10rem;
	border-radius: 100%;
	margin: 0 1em;
}

button:hover{
	background-color: #f5dd7b;
}
button:active{
	background-color: #d9b650;
}
button i{
	font-size: 5rem;
}
.rstbtn{
	border-radius: 15%;
	min-height: 4rem;
	max-width: 20rem;
	padding: 0.5em;
	margin: 1em;
}
.rstbtn h5{
	font-size: 1rem;
}
.scores{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}