body{
	background: #f5dd7b; 
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}
.container{
	background-color: #83580b;
	min-height: 30vw;
	max-width: 40vw;
	border-radius: 2rem;
}
button{
	height: 10rem;
	width: 10rem;
	border-radius: 100%;
	margin: 0 1em;
}

button:hover{
	background-color: #f5dd7b;
}
button:active{
	background-color: #d9b650;
}
button i{
	font-size: 5rem;
}
.scores{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}